.container {
  margin: 20px 0;
}

.searchBox {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchBox > span {
  color: black;
  font-size: 20px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  background-color: rgb(234, 203, 65);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searchBox > span.homeButton {
  font-size: 19px;
  padding-bottom: 4px;
}

input {
  width: 70%;
  padding: 15px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 300;
  outline: none;
  border: none;
  background-color: rgb(234, 203, 65);
}

input:focus {
  box-shadow: rgba(203, 203, 243, 0.802) 0px 5px 5px 0px;
}
